<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> CLIENTE </title>

    <!-- Custom fonts for this template-->
    <link href="../../static/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        
    <link rel="shortcut icon" href=" ../../static/favicon.ico " type="image/x-icon">
    <link rel="icon" href=" ../../static/favicon.ico " type="image/x-icon"> 
    <!-- Custom styles for this template -->
    <link href="../../static/css/admin.css" rel="stylesheet">
    <link href="../../static/css/chat_cliente.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid p-5">
        <!-- Page Heading -->
        <form class="user" method="POST">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="modal-header">
                    <input type="button" onclick="history.back()" value="Atrás">
                </div>
                <h1 class="h3 mb-2 text-center text-gray-800">ETAPAS</h1>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Orden</th>
                                    <th>Nombre</th>
                                    <th>Responsable</th>
                                    <th>Fecha Inicial</th>
                                    <th>Fecha Final</th>
                                    <th>Actividades</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for infor in etapas %}
                                <tr>
                                    <td class="myRowId" hidden>{{infor.0}}</td>
                                    <td>{{infor.2}}</td>
                                    <td>{{infor.3}}</td>
                                    <td>{{infor.4}}</td>
                                    <td>{{infor.5}}</td>
                                    <td>{{infor.6}}</td>
                                    <td><a class="text-primary clBtnVerActividadesCliente" style="width: 50%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary pull-right">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> Buzón de mensaje
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse"
                                data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne">
                        <div class="panel-body">
                            <div id="mensajeria">
                                <ul class="chat" id="unlisted_chat">
                                    <div v-for="todo,index in messages">
                                    <div v-if = 'messages[index][3] !== null '>
                                        <li class="right clearfix">
                                            <span class="pull-right"></span>
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time">${ messages[index][5] }$</span></small>
                                                <strong class="pull-right primary-font">${ messages[index][7] }$</strong>
                                            </div>
                                            <div id="msg_cliente" class="pull-right p-4">
                                                ${ messages[index][3] }$
                                            </div>
                                        </li>
                                    </div>
                                    <div v-if = 'messages[index][4] !== null '>
                                        <li class="left clearfix">
                                            <div class="header">
                                                <strong class="primary-font">${ messages[index][8] }$</strong>
                                                <small class="pull-right text-muted"><span class="glyphicon glyphicon-time">${ messages[index][6] }$</span></small>
                                            </div>
                                            <div id="msg_cliente" class="p-4">
                                                ${ messages[index][4] }$
                                            </div>
                                        </li>
                                    </div>
                                    </div>
                                </ul>

                                <form id="form_message">
                                    <div class="panel-footer">
                                        <div class="input-group">
                                            <input id="message" type="text" class="form-control input-sm"
                                                placeholder="Type your message here" required />
                                            <span class="input-group-btn"><button type="submit"
                                                    class="btn btn-warning btn-sm" id="btn-chat">Send</button></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Actividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                    <div class="modal-body">
                        <h1 class="h3 mb-2 text-center text-gray-800">Actividades</h1>
                        <div class="row p-5">
                            <table class="table table-bordered" id="dataTableActiv" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Descargar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../static/js/demo/datatables-demo.js"></script>

    <script src="../../static/js/cliente/actividadesCliente.js"></script>
    <!-- Chat -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- plugin jquery and sweetalert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>   

    <script>
        Id_proyecto = '{{Id_proyecto}}';

        mensajeria = new Vue({
            delimiters: ['${', '}$'],
            el: '#mensajeria',
            data: {
                messages: [],
            },
            created() {
                $.ajax({
                    url: `/message/${Id_proyecto}/`,
                    type: "GET",
                    success: function (jsonResponse) {
                        if (jsonResponse.status == 'success') {
                            messages_json = jsonResponse.messages_saved;
                        } else if (jsonResponse.status == 'error') {
                            Swal.fire({
                                title: 'Error!',
                                text: 'No message get',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            })
                        }
                    }
                }).done(function (jsonResponse) {
                    this.messages = jsonResponse.messages_saved
                }.bind(this))
            }
        });

        form_message.onsubmit = async function (e) {
            e.preventDefault();
            var message = document.getElementById("message").value;
            var jsonToSend = {
                id_proyecto: Id_proyecto,
                Message: message
            }
            $.ajax({
                url: "/message/",
                type: "POST",
                data: JSON.stringify(jsonToSend),
                contentType: 'application/json; charset=utf-8',
                jsonToSend,
                success: function (jsonResponse) {
                    if (jsonResponse.status == 'success') {
                        message_response = jsonResponse.messages;
                        document.getElementById("message").value = " "
                        Swal.fire({
                            title: 'Success',
                            text: 'Message send succesfully',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(function(result) {
                            if (result.value) {
                                window.location.reload();
                            }
                        })

                    } else if (jsonResponse.status == 'error') {
                        Swal.fire({
                            title: 'Error!',
                            text: 'No message send',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                        
                    }
                }
            });
        };

    </script>
</body>
</html>