{% extends "cliente/cliente.html" %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">ADMINISTRACION DE PROYECTOS</h1>
            <p class="mb-4">Todos los proyectos que el consultorio ya están en proceso de ejecucción. 

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Nombre</th>
                                    <th>Servicio</th>
                                    <th hidden>DescriptionServicio</th>
                                    <th>Responsable</th>
                                    <th hidden>Descripción</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha final</th>
                                    <th>Visualizar</th>
                                    <th>Procesos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for infor in Proyectos %}
                                <tr>
                                    <td class='Clidproyecto' hidden>{{infor.0}}</td>
                                    <td class='Clnombre'>{{infor.8}}</td>
                                    <td class='ClServicio'>{{infor.7}}</td>
                                    <td class='ClDescrSer' hidden>{{infor.9}}</td>
                                    <td class='ClResponsable'>{{infor.4}}</td>
                                    <td class='ClDescripcion' hidden>{{infor.3}}</td>
                                    <td class='ClFechainicio'>{{infor.5}}</td>
                                    <td class='ClFechafinal'>{{infor.6}}</td>
                                    <td class='myRowId'><a class="text-warning clBtnProyectoCliente" width="50%" float=left><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                                    </svg></a></td>
                                    <td><a class="text-success" width="50%" float=left href="/chat_client/{{infor.0}}/"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                    </svg></a></td> 
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <legend>Proyecto</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="idproyecto" hidden id="idproyecto" class="form-control clAlignRight" tabindex="1" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Nombre" id="Nombre" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Responsable" id="Responsable" class="form-control" tabindex="3" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="DescrSer" rows="4" id="DescrSer" class="form-control" tabindex="4" readonly>
                            <input type="text" name="Servicio" hidden rows="4" id="Servicio" class="form-control" tabindex="4" readonly>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Fechainicio" id="Fechainicio" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Fechafinal" id="Fechafinal" class="form-control" tabindex="3" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="Descripcion" rows="4" id="Descripcion" class="form-control " placeholder="Descripción" tabindex="5" readonly></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}