{% extends "cliente/cliente.html" %}

{% block content %}

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4"> CREAR SOLICITUD </h1>
                                <hr>
                            </div>           
                            <form class="user" method="POST"> 
                                <legend>Datos Entidades</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="nombreEmpresa" id="nombreEmpresa" class="form-control" placeholder="Nombre Empresa" tabindex="10">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-6">
                                        <div class="form-group">
                                            <select name="tipoEntidad" class="form-control" id="tipoEntidad" tabindex="11">
                                                <option selected="selected">Seleccionar Tipo Entidad</option>
                                                {% for tipoentidad in entidad %}
                                                <option value="{{tipoentidad.0}}">{{tipoentidad.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="direccionEmpresa" id="direccionEmpresa" class="form-control " placeholder="Dirección" tabindex="12">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="telefonoEmpresa" id="telefonoEmpresa" class="form-control " placeholder="Telefono" tabindex="13">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="emailEmpresa" id="emailEmpresa" class="form-control " placeholder="E-mail" tabindex="14">
					                    </div>
                    				</div>
                    			</div>
                                <legend>Solicitud</legend>
                                <div class="row">
    			                    <div class="col-xs-12 col-sm-4 col-md-6">
					                    <div class="form-group">
                                            <select name="servicio" class="form-control" id="servicio" tabindex="15">
                                                <option selected="selected">Seleccionar Servicio</option>
                                                {% for servicio in servicio %}
                                                    <option value="{{servicio.0}}">{{servicio.2}}</option>
                                                {% endfor %}
                                            </select>
					                    </div>
				                    </div>
				                <div class="col-xs-12 col-sm-4 col-md-6">
					                <div class="form-group">
					    	            <input type="date" name="fechaSolicitud" id="fechaSolicitud" class="form-control" placeholder="MM/DD/YYYY" tabindex="16">
                                   </div>
				                </div>
			                    </div>
                        			<div class="form-group">
                        				<textarea name="descripcion" rows="4" id="descripcion" class="form-control " placeholder="Descripción" tabindex="17" ></textarea>
                        			</div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registrar Solicitud
                                </button>
                                <hr style="margin-top:20px;margin-bottom:5px;" >
                            </form>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}