{% extends "cliente/cliente.html" %}

{% block content %}

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Begin Page Content -->
            <div class="container-fluid p-5">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Solicitudes</h1>
                <p class="mb-4">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th hidden>Id</th>
                                        <th>Nombre Cliente</th>
                                        <th>Servicio</th>
                                        <th>Estado</th>
                                        <th>Fecha solicitud</th>
                                        <th hidden>Descripcion</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                {% for Solicitud in Solicitudes %}
                                <tbody>
                                    <tr>
                                        <td class='Clidsolicitud' hidden>{{Solicitud.0}}</td>
                                        <td class='Clnombre'>{{Solicitud.8}}</td>
                                        <td class='Clservicio'>{{Solicitud.6}}</td>
                                        <td class='CLestado'>{{Solicitud.7}}</td>
                                        <td class='Clfecha'>{{Solicitud.4}}</td>
                                        <td class='Cldescripcion' hidden>{{Solicitud.5}}</td>
                                        <td class='myRowId'><a class="text-primary clBtnEditarSolicitud" width="50%" float=left><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg></a></td>
                                        <td><a class="text-danger clBtnDeleteSolicitud" width="50%" float=left><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg></a></td>                                           
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <legend>Solicitud</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="idSolicitudCliente" hidden id="idSolicitudCliente" class="form-control" tabindex="1" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Nombre" id="Nombre" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="servicio" id="servicio" class="form-control" tabindex="3" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="estado" rows="4" id="estado" class="form-control" tabindex="4" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="fecha" rows="4" id="fecha" class="form-control" tabindex="5" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="Descripcion" rows="4" id="Descripcion" class="form-control " placeholder="Descripción" tabindex="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-user btn-block" id="btnRegProy">Registrar Cambio</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <input type="text" name="idSolicitudDel" hidden id="idSolicitudDel" class="form-control" tabindex="1" readonly>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-user btn-block" id="btnDelete">Eliminar solicitud</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
