/*! Centrar el formulario de registro de las tablas de mantenimientos */

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 560px;
    }
}
    
@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 540px;
    }
}
    
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -23.75rem;
    margin-left: -0.75rem;
}
