{% extends "admin/admin.html" %}

{% block content %}

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">CLIENTE NUEVO </h1>
                                <hr>
                            </div>
                            <form class="user" role="form" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="nombreCliente"
                                        placeholder="Nombre">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="apellidoCliente"
                                        placeholder="Apellido">  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select name="tipodocumento" class="form-control" id="tipodocumento" tabindex="3">
                                            <option selected="selected">Seleccionar Tipo Documento</option>
                                            {% for tipodocumento in documentos %}
                                                <option value="{{tipodocumento.0}}">{{tipodocumento.1}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="numerodocumento"
                                            placeholder="Numero Documento">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="direccionCliente"
                                        placeholder="Direccion">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="celular"
                                            placeholder="Celular">
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" name="emailCliente"
                                            placeholder="Email">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="usuario" placeholder="Usuario">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                                    </div>
                                </div>
                                <button href="button" class="btn btn-primary btn-user btn-block">
                                    Registrar Cliente
                                </button>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th hidden>Id</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Tipo Documento</th>
                                <th>Numero Documento</th>
                                <th>Celular</th>
                                <th>Direccion</th>
                                <th>Email</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for infor in Datos %}
                            <tr>
                                <td class="Clidcliente" hidden>{{infor.0}}</td>
                                <td class="Clnombre">{{infor.3}}</td>
                                <td class="Clapellido">{{infor.4}}</td>
                                <td class="Cldocumento">{{infor.8}}</td>
                                <td class="ClNdocumento">{{infor.2}}</td>
                                <td class="Clcelular">{{infor.5}}</td>
                                <td class="Cldireccion">{{infor.6}}</td>
                                <td class="Clemail">{{infor.7}}</td>
                                <td><a class="text-primary clBtnEditarCliente" style="width: 50%;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="myModalCLiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content p-4">
                <div class="pull-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <!-- Nested Row within Card Body -->
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"> Información Personal </h1>
                        <hr>
                    </div>
                    <div class="form-group">
                        <input type="text" name="idcliente" hidden id="idcliente" class="form-control" tabindex="1" readonly>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nombreCliente" id="Nombre"
                                placeholder="Nombre" readonly>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="apellidoCliente" id="apellido"
                                placeholder="Apellido" readonly>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="tipodocumento" id="documento" tabindex="3"
                                placeholder="Numero Documento" readonly>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="numerodocumento" id="Ndocumento"
                                placeholder="Numero Documento" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="direccion" id="direccion"
                            placeholder="Direccion">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="celular" id="celular"
                                placeholder="Celular">
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" name="emailCliente" id="email"
                                placeholder="Email">
                        </div>
                    </div>
                    <button href="button" class="btn btn-primary btn-user btn-block" id="btnEditCliente">
                        Registrar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
