{% extends "admin/admin.html" %}

{% block content %}

    <div class="p-3">            
        <div class="text-center">
            <h3><b>Mensajeria</b></h3>
        </div>
        <div class="messaging p-4" id="mensajeria">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Usuarios</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div v-for="todo,index in all_messages">
                            <div class="chat_list active_chat" v-bind:id="all_messages[index][0]" @click="getid(all_messages[index][0])">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5> ${ all_messages[index][3] }$ </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history">
                        <div v-for="todo,index in user_messages">
                            <div v-if = 'user_messages[index][3] !== null '>
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>${ user_messages[index][3] }$
                                            </p>
                                            <span class="time_date">${ user_messages[index][5] }$</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if = "user_messages[index][4] !== null ">
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p>${ user_messages[index][4] }$
                                        </p>
                                        <span class="time_date">${ user_messages[index][6] }$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="form_message">
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input id="message" type="text" class="write_msg" placeholder="Escribe un mensage" required />
                                <button class="msg_send_btn" type="submit" id="btn-chat"><i class="fa fa-paper-plane-o"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        mensajeria = new Vue({
            delimiters: ['${', '}$'],
            el: '#mensajeria',
            data: {
                all_messages: [],
                user_messages: [],
            },
            created() {
                $.ajax({
                    url: "/clientes_admin/",
                    type: "GET",
                    success: function(jsonResponse) {
                        dataJSON = jsonResponse;
                        if (jsonResponse.status == 'success') {
                            messages_json = jsonResponse.messages_saved;
                        } else if (jsonResponse.status == 'error') {
                            Swal.fire({
                                title: 'Error!',
                                text: 'No message get',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            })
                        }
                    }
                }).done(function(jsonResponse) {
                    this.all_messages = jsonResponse.messages_saved
                }.bind(this))
            },
            methods: {
                getid: function(id) {
                    id = event.currentTarget.id;
                    var idCliente = id
                    
                    $.ajax({
                        url: "/clientes_admin_post/",
                        type: "POST",
                        data: {
                            "idCliente": idCliente
                        },
                        dataType: 'json',
                        success: function(jsonResponse) {
                            if (jsonResponse.status == 'success') {
                                user_messages = jsonResponse.messages;   
                            } 
                        }
                    }).done(function(jsonResponse) {
                        this.user_messages = jsonResponse.messages
                    }.bind(this))
                }
            },
        });

        form_message.onsubmit = async function (e) {
            e.preventDefault();
            var message = document.getElementById("message").value;
            var jsonToSend = {
                Message: message                
            }
            $.ajax({
                url: "/message_admin/",
                type: "POST",
                data: JSON.stringify(jsonToSend),
                contentType: 'application/json; charset=utf-8',
                jsonToSend,
                success: function (jsonResponse) {
                    if (jsonResponse.status == 'success') {
                        message_response = jsonResponse.messages;
                        document.getElementById("message").value="";
                        Swal.fire({
                            title: 'Exitoso',
                            text: 'Mensaje enviado satisfatoriamente',
                            icon: 'Exitoso',
                            confirmButtonText: 'OK'
                        }).then(function(result) {
                            if (result.value) {
                                window.location.reload();
                            }
                        })
                    } else if (jsonResponse.status == 'error') {
                        Swal.fire({
                            title: 'Error!',
                            text: 'No message send',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                        
                    }
                }
            });
        };
    </script>
    
{% endblock %}