<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solicitud</title>
    <link rel="shortcut icon" href=" ../../static/favicon.ico " type="image/x-icon">
    <link rel="icon" href=" ../../static/favicon.ico " type="image/x-icon">
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        body { background: url(https://cdn.magdeleine.co/wp-content/uploads/2014/08/8424059190_db0d46d535_o-2.jpg) no-repeat center center fixed; 
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-top:50px; margin-right:0px">
        <div class="col-md-10">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" onclick="history.back()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"> CREAR SOLICITUD </h1>
                        <hr>
                    </div>                     
                    <form class="user" method="POST" > 
                        <legend>Datos Entidades</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="nombreEmpresa" id="nombreEmpresa" class="form-control" placeholder="Nombre Empresa" tabindex="10">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <select name="tipoEntidad" class="form-control" id="tipoEntidad" tabindex="11">
                                        <option selected="selected">Seleccionar Tipo Entidad</option>
                                        {% for tipoentidad in entidad %}
                                            <option value="{{tipoentidad.0}}">{{tipoentidad.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccionEmpresa" id="direccionEmpresa" class="form-control " placeholder="Dirección" tabindex="12">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="telefonoEmpresa" id="telefonoEmpresa" class="form-control " placeholder="Telefono" tabindex="13">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="emailEmpresa" id="emailEmpresa" class="form-control " placeholder="E-mail" tabindex="14">
                                </div>
                            </div>
                        </div>
                        <legend>Solicitud</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <select name="servicio" class="form-control" id="servicio" tabindex="15">
                                        <option selected="selected">Seleccionar Servicio</option>
                                        {% for servicio in servicio %}
                                            <option value="{{servicio.0}}">{{servicio.2}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="date" name="fechaSolicitud" id="fechaSolicitud" class="form-control" placeholder="MM/DD/YYYY" tabindex="16">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion" rows="4" id="descripcion" class="form-control " placeholder="Descripción" tabindex="17" ></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Registrar Solicitud
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
