{% extends "admin/admin.html" %}

{% block content %}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4"> CREAR PROYECTO </h1>
                                <hr>
                            </div>                     
                            <form class="user" method="POST"> 
                                <legend>Proyecto</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="responsable" id="responsable" class="form-control" placeholder="Responsable" tabindex="1">
                                        </div>
                                    </div>
    			                    <div class="col-xs-12 col-sm-4 col-md-6">
					                    <div class="form-group">
                                            <select name="servicio" class="form-control" id="servicio" tabindex="2">
                                                <option selected="selected">Seleccionar Servicio</option>
                                                {% for servicio in servicio %}
                                                    <option value="{{servicio.0}}">{{servicio.2}}</option>
                                                {% endfor %}
                                            </select>
					                    </div>
				                    </div>
                                </div>
                                <div class="row">
				                    <div class="col-xs-12 col-sm-4 col-md-6">
					                    <div class="form-group">
					    	                <input type="date" name="fechaInicial" id="fechaInicial" class="form-control" placeholder="MM/DD/YYYY" tabindex="3">
                                        </div>
				                    </div>
				                    <div class="col-xs-12 col-sm-4 col-md-6">
					                    <div class="form-group">
					    	                <input type="date" name="fechaFinal" id="fechaFinal" class="form-control" placeholder="MM/DD/YYYY" tabindex="4">
                                        </div>
				                    </div>
			                    </div>
                        		<div class="form-group">
                        			<textarea name="descripcion" rows="4" id="descripcion" class="form-control " placeholder="Descripción" tabindex="5" ></textarea>
                        		</div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registrar Proyecto
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}