{% extends "admin/admin.html" %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Solicitudes</h1>
            <p class="mb-4">Todas las solicitudes que llegan al consultorio deben tener la creacion de proyecto para dar inicio a sus etapas y actividades de desarrollo. 

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Nombre Cliente</th>
                                    <th>Tipo Entidad</th>
                                    <th>Servicio</th>
                                    <th hidden>IDServicio</th>
                                    <th hidden>Descripción</th>
                                    <th>Fecha solicitud</th>
                                    <th>Visualización</th>
                                    <th>Crear Proyecto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for infor in documentos %}
                                <tr>
                                    <td hidden class='ClIdSolicitud'>{{infor.0}}</td>
                                    <td class='ClNombre'>{{infor.8}}</td>
                                    <td class='ClTipoEntidad'>{{infor.9}}</td>
                                    <td hidden class='ClServicio'>{{infor.2}}</td>
                                    <td class='ClServicio_Nombre'>{{infor.6}}</td>
                                    <td hidden class='ClDescripcion'>{{infor.5}}</td> 
                                    <td class='ClFechaInicial'>{{infor.4}}</td>
                                    <td><a class="text-warning clBtnVerSolicitud" width="50%" float=left>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                                        </svg>
                                    </a></td>
                                    <td><a class="text-primary clBtnCrearProyecto" style="width: 50%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a></td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <legend>Crear Proyecto</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <input type="text" hidden name="idSolicitud" id="idSolicitud" class="form-control" tabindex="1" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Nombre" id="Nombre" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="responsable" id="responsable" class="form-control" placeholder="Responsable" tabindex="3">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="TipoEntidad" rows="4" id="TipoEntidad" class="form-control" tabindex="4" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Servicio" rows="4" id="Servicio" class="form-control" tabindex="5" readonly>
                                    <input type="text" hidden name="IDServicio" rows="4" id="IDServicio" class="form-control" tabindex="5" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="FechaInicial" id="FechaInicial" class="form-control" tabindex="6" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="date" name="fechaFinal" id="fechaFinal" class="form-control" placeholder="MM/DD/YYYY" tabindex="6">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="Descripcion" rows="4" id="Descripcion" class="form-control " placeholder="Descripción" tabindex="5" readonly></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-user btn-block" id="btnRegProy">Registrar Proyecto</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModalSolicitudes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-2">
                    <div class="pull-right">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <legend>Solicitud</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <input type="text" hidden name="IdSolicitud" id="IdSolicitud" class="form-control" tabindex="1" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="nombre" id="nombre" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="fechaInicial" id="fechaInicial" class="form-control" tabindex="6" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="tipoEntidad" rows="4" id="tipoEntidad" class="form-control" tabindex="4" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="servicio" rows="4" id="servicio" class="form-control" tabindex="5" readonly>
                                    <input type="text" hidden name="iDServicio" rows="4" id="iDServicio" class="form-control" tabindex="5" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion" rows="4" id="descripcion" class="form-control " placeholder="Descripción" tabindex="5" readonly></textarea>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}