{% extends "admin/admin.html" %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Solicitar Servicio</h1>
        <p class="mb-4">Se selecciona el cliente al cual se le va a realizar la solicitud. 

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Tipo Documento</th>
                                <th>Numero Documento</th>
                                <th>Celular</th>
                                <th>Direccion</th>
                                <th>Email</th>
                                <th>Crear solicitud</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for infor in Datos %}
                            <tr>
                                <td>{{infor.3}}</td>
                                <td>{{infor.4}}</td>
                                <td>{{infor.8}}</td>
                                <td>{{infor.2}}</td>
                                <td>{{infor.5}}</td>
                                <td>{{infor.6}}</td>
                                <td>{{infor.7}}</td>
                                <td><a class="text-primary" style="width: 50%;" href="/CrearSolicitud/{{infor.0}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
