{% extends "admin/admin.html" %}

{% block content %}
    <head>
        <!-- Custom styles for this template -->
        <link href="../../static/css/mantenimiento.css" rel="stylesheet">
    </head>
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">   
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">REGISTRAR ENTIDAD</h1>
                                    <hr>
                                </div>
                                <form class="user" method="post">
                                    <div class="form-group ">
                                        <input type="text" class="form-control form-control-user" name="Nombre" id="Nombre"
                                        placeholder="Nombre">
                                    </div>
                                    <div class="form-group ">
                                        <input type="text" class="form-control form-control-user" name="Descripcion" id="Descripcion"
                                        placeholder="Descripcion">  
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Guardar
                                        </button>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th hidden>Id</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for infor in Entidades %}
                            <tr>
                                <td class="ClidEntidad" hidden>{{infor.0}}</td>
                                <td class="Clnombre">{{infor.1}}</td>
                                <td class="Cldescripcion">{{infor.2}}</td>
                                <td>
                                    <a class="text-warning clBtnEntidad">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                </td>
                                <td>
                                    <a class="text-danger clBtnDeleteEntidad">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="myModalEntidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content p-2">
                <div class="pull-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <!-- Nested Row within Card Body -->
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"> Entidad </h1>
                        <hr>
                    </div>
                    <div class="form-group">
                        <input type="text" name="idEntidad" hidden id="idEntidad" class="form-control clAlignRight" tabindex="1" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="NombreEntidad" id="NombreEntidad"
                            placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="DescripcionEntidad" id="DescripcionEntidad"
                            placeholder="Descripcion">
                    </div>
                    <button href="button" class="btn btn-primary btn-user btn-block" id="btnEditEntidad">
                        Registrar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="myModalDelEntidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content p-2">
                <div class="pull-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <!-- Nested Row within Card Body -->
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"> Entidad </h1>
                        <hr>
                    </div>
                    <div class="form-group">
                        <input type="text" name="idEntidadDel" hidden id="idEntidadDel" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="NombreDelEntidad" id="NombreDelEntidad"
                            placeholder="Nombre" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="DescripcionDelEntidad" id="DescripcionDelEntidad"
                            placeholder="Descripcion" readonly>
                    </div>
                    <button type="button" class="btn btn-danger btn-user btn-block" id="btnDelEntidad">Eliminar Entidad</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
