{% extends "admin/admin.html" %}

{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <form class="user" method="POST"> 
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">ADMINISTRACION DE PROYECTOS</h1>
                <p class="mb-4">Todos los proyectos que el consultorio ya están en proceso de ejecucción</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th hidden>Id</th>
                                        <th>Nombre</th>
                                        <th hidden>Clase Servicio</th>
                                        <th>Servicio</th>
                                        <th>Responsable</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha final</th>
                                        <th hidden>Descripción</th>
                                        <th>Visualizar</th>
                                        <th>Procesos</th>
                                        <th>Finalizar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for infor in Proyectos %}
                                    <tr>
                                        <td class='ClIdProyecto' hidden>{{infor.0}}</td>
                                        <td class='ClNombre'>{{infor.8}}</td>
                                        <td class='ClServicio' hidden>{{infor.9}}</td>
                                        <td>{{infor.10}}</td>
                                        <td class='ClResponsable'>{{infor.4}}</td>
                                        <td class='ClFechaInicial'>{{infor.5}}</td>
                                        <td class='ClFechaFinal'>{{infor.6}}</td>
                                        <td class='ClDescripcion' hidden>{{infor.3}}</td>
                                        <td><a class="text-warning clBtnVisualizarProyecto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                                                </svg>
                                        </a></td>
                                        <td><a  class="text-primary" style="width: 50%;" href="/verEtapas/{{infor.0}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </a></td>
                                        {% if infor.7 == 0 %}
                                            <td><a class="text-success clBtnFinalizarProyecto">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                                                </svg>
                                            </a></td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="myModalEstado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content p-2">
                    <div class="pull-right">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                    <!-- Nested Row within Card Body -->
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4"> Estado </h1>
                            <hr>
                        </div>
                        <div class="form-group">
                            <input type="text" name="idEstado" hidden id="idEstado" class="form-control clAlignRight" tabindex="1" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="NombreEstado" id="NombreEstado"
                                placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="DescripcionEstado" id="DescripcionEstado"
                                placeholder="Descripcion">
                        </div>
                        <button href="button" class="btn btn-primary btn-user btn-block" id="btnEditEstado">
                            Registrar Cambios
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="pull-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <br>
                        <div class="text-center">
                            <h1 class="h3 text-gray-900 mb-4"> Proyecto </h1>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="idproyecto" hidden id="idproyecto" class="form-control clAlignRight" tabindex="1" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Nombre" id="Nombre" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Responsable" id="Responsable" class="form-control" tabindex="3" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Servicio" rows="4" id="Servicio" class="form-control" tabindex="4" readonly>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="FechaInicial" id="FechaInicial" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="FechaFinal" id="FechaFinal" class="form-control" tabindex="3" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="Descripcion" rows="4" id="Descripcion" class="form-control " placeholder="Descripción" tabindex="5" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Modal -->
        <div class="modal fade" id="myModalFinalizarProyecto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="pull-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <br>
                        <div class="text-center">
                            <h1 class="h3 text-gray-900 mb-4"> Proyecto </h1>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="idproyectoFinalizarProyecto" hidden id="idproyectoFinalizarProyecto" class="form-control clAlignRight" tabindex="1" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="NombreFinalizarProyecto" id="NombreFinalizarProyecto" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="ResponsableFinalizarProyecto" id="ResponsableFinalizarProyecto" class="form-control" tabindex="3" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="ServicioFinalizarProyecto" rows="4" id="ServicioFinalizarProyecto" class="form-control" tabindex="4" readonly>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="FechaInicialFinalizarProyecto" id="FechaInicialFinalizarProyecto" class="form-control" tabindex="2" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="FechaFinalFinalizarProyecto" id="FechaFinalFinalizarProyecto" class="form-control" tabindex="3" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="DescripcionFinalizarProyecto" rows="4" id="DescripcionFinalizarProyecto" class="form-control " placeholder="Descripción" tabindex="5" readonly></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-user btn-block" id="btnRegProy">Finalizar Proyecto</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}