<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ADMINISTRADOR </title>
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link rel="shortcut icon" href=" ../../static/favicon.ico " type="image/x-icon">
    <link rel="icon" href=" ../../static/favicon.ico " type="image/x-icon">

    <!-- Custom styles for this template -->
    <link href="../../static/css/admin.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="../../static/js/admin/actividades.js"></script>
    <script src="../../static/js/admin/etapas.js"></script>
</head>
<body>
    <!-- Begin Page Content -->
    <div class="container-fluid p-5">
        <!-- Page Heading -->
        <form class="user" method="POST">
            <input type='hidden' id='IdProyecto' name='IdProyecto' value='{{idProyecto}}'/>
            <!-- DataTales Example -->
            <div class="modal-header">
                <input type="button" onclick="history.back()" action="/proyectos" value="Atrás">
            </div>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class='pull-right'>
                        <button type='button' class='close text-success' id='btnAgregarEtapa'>Agregar</button>
                    </div>
                    <br>
                    <h1 class="h4 mb-2 text-center text-gray-900">ETAPAS</h1>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th hidden>Id</th>
                                    <th hidden>IdProyecto</th>
                                    <th>Orden</th>
                                    <th>Nombre</th>
                                    <th>Responsable</th>
                                    <th>Fecha Inicial</th>
                                    <th>Fecha Final</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                    <th>Actividades</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for infor in etapas %}
                                <tr>
                                    <td class="ClidEtapa" hidden>{{infor.0}}</td>
                                    <td class="ClidProyecto" hidden>{{infor.1}}</td>
                                    <td class="Clorden">{{infor.2}}</td>
                                    <td class="Clnombre">{{infor.3}}</td>
                                    <td class="ClResponsable">{{infor.4}}</td>
                                    <td class="ClfechaInicial">{{infor.5}}</td>
                                    <td class="ClfechaFinal">{{infor.6}}</td>
                                    <td><a class="text-warning clBtnEtapa">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a></td>
                                    <td><a class="text-danger clBtnDelEtapa">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </a></td>
                                    <td><a class="text-primary clBtnVerActividades" style="width: 50%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    
    <!-- Page level custom scripts -->
    <script src="../../static/js/demo/datatables-demo.js"></script>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="pull-right">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row p-3">
                                <div class="col-lg-12">
                                    <div>
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4"> CREAR ETAPA </h1>
                                            <hr>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="NombreEtapa" id="NombreEtapa" class="form-control" 
                                                placeholder="Nombre" tabindex="1">
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="Responsable" id="Responsable" class="form-control"
                                                        placeholder="Responsable" tabindex="1">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="Orden" id="Orden" class="form-control"
                                                        placeholder="Orden" tabindex="2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-6">
                                                <div class="form-group">
                                                    <input type="date" name="fechaInicial" id="fechaInicial"
                                                        class="form-control" placeholder="MM/DD/YYYY" tabindex="4">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-6">
                                                <div class="form-group">
                                                    <input type="date" name="fechaFinal" id="fechaFinal"
                                                        class="form-control" placeholder="MM/DD/YYYY" tabindex="4">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-user btn-block" id="btnAgrEtapa">
                                            Registrar Etapa
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="myModalEtapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content p-2">
                <div class="pull-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <!-- Nested Row within Card Body -->
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"> Etapa </h1>
                        <hr>
                    </div>
                    <div class="form-group">
                        <input type="text" name="idEtapaEdit" hidden id="idEtapaEdit" class="form-control clAlignRight" tabindex="1" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" name="NombreEtapaEdit" id="NombreEtapaEdit" class="form-control" 
                            placeholder="Nombre" tabindex="1">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-6">
                            <div class="form-group">
                                <input type="text" name="ResponsableEdit" id="ResponsableEdit" class="form-control"
                                    placeholder="Responsable" tabindex="1">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6">
                            <div class="form-group">
                                <input type="text" name="OrdenEtapaEdit" id="OrdenEtapaEdit" class="form-control"
                                    placeholder="Orden" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-6">
                            <div class="form-group">
                                <input type="date" name="fechaInicialEdit" id="fechaInicialEdit"
                                    class="form-control" placeholder="MM/DD/YYYY" tabindex="4">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6">
                            <div class="form-group">
                                <input type="date" name="fechaFinalEdit" id="fechaFinalEdit"
                                    class="form-control" placeholder="MM/DD/YYYY" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <button href="button" class="btn btn-primary btn-user btn-block" id="btnEditEtapa">
                        Registrar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="myModalDelEtapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content p-2">
                <div class="pull-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <!-- Nested Row within Card Body -->
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"> Etapa </h1>
                        <hr>
                    </div>
                    <div class="form-group">
                        <input type="text" name="idEtapaDel" hidden id="idEtapaDel" class="form-control" tabindex="1" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" name="NombreEtapaDel" id="NombreEtapaDel" class="form-control" 
                            placeholder="Nombre" tabindex="1" readonly>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-6">
                            <div class="form-group">
                                <input type="text" name="ResponsableDel" id="ResponsableDel" class="form-control"
                                    placeholder="Responsable" tabindex="1" readonly>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6">
                            <div class="form-group">
                                <input type="text" name="OrdenEtapaDel" id="OrdenEtapaDel" class="form-control"
                                    placeholder="Orden" tabindex="2" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-6">
                            <div class="form-group">
                                <input type="text" name="fechaInicialDel" id="fechaInicialDel"
                                    class="form-control" placeholder="MM/DD/YYYY" tabindex="4" readonly>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6">
                            <div class="form-group">
                                <input type="text" name="fechaFinalDel" id="fechaFinalDel"
                                    class="form-control" placeholder="MM/DD/YYYY" tabindex="4" readonly>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-user btn-block" id="btnDelEtapa">Eliminar Etapa</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Actividades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h1 class="h3 mb-2 text-center text-gray-800">Actividades</h1>
                        <div class="table-responsive">
                            <div class="form-group">
                                <input type="text" name="xIdEtapa" hidden id="xIdEtapa" class="form-control"
                                placeholder="IdEtapa" tabindex="1">
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="nombreAgrActividad" id="nombreAgrActividad" class="form-control"
                                        placeholder="Nombre" tabindex="1">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="DescripcionAgrActividad" id="DescripcionAgrActividad" class="form-control"
                                        placeholder="Descripción" tabindex="1">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <button type='button' class='btn btn-success' id='btnAgregarActividad'>Agregar</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered" id="dataTableAct" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th hidden>Id</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Subir</th>
                                        <th>Descargar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SubirArchivo" tabindex="-1" role="dialog" aria-labelledby="Subir Archivo...">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-header">
                    <form id="file" method="POST" enctype='multipart/form-data'>
                        <label for="file1" class="subir">
                            <i class="fas fa-cloud-upload-alt"></i> Selecionar archivo
                        </label>
                        <input type='hidden' id='IdActividadSubir' name='IdActividadSubir'/>
                        <input type="file" id="file1" name='file1' style='display: none;'/>
                    </form>
                </div>
                <div id="info"></div>                  
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnSubir">Subir</button>
                </div>
            </div>
        </div>
    </div> 
    <!-- /.container-fluid -->
    <div class="modal fade" id="myModalDelActividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content p-2">
                <div class="pull-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <!-- Nested Row within Card Body -->
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"> Actividad </h1>
                        <hr>
                    </div>
                    <div class="form-group">
                        <input type="text" name="IdActividadDel" hidden id="IdActividadDel" class="form-control clAlignRight" tabindex="1" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" name="NombreActividadDel" id="NombreActividadDel" class="form-control" 
                            placeholder="Nombre" tabindex="1" readonly>
                    </div>
                    <button type="button" class="btn btn-danger btn-user btn-block" id="btnDelActividad">Eliminar Actividad</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>