<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="shortcut icon" href=" ../../static/favicon.ico " type="image/x-icon">
<link rel="icon" href=" ../../static/favicon.ico " type="image/x-icon"> 
<head>
  <style>
    body { background: url(https://cdn.magdeleine.co/wp-content/uploads/2019/09/msp_1611_1233.jpg) no-repeat center center fixed;
	background-size: cover;}
  </style>
</head>
<div class="container" style="margin-top:20px">
	<div class="col-md-12">
		<div class="panel panel-default">
			<button type="button" onclick="history.back()" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
  			<div class="text-center"><h3 class="well "><strong>Registro de Clientes</strong></h3></div>
				<div class="panel-body">
					<form role="form" method="POST">
						<legend>Datos Personales</legend>
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<input type="text" name="nombreCliente" id="nombreCliente" class="form-control" placeholder="Nombre" tabindex="1">
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<input type="text" name="apellidoCliente" id="apellidoCliente" class="form-control " placeholder="Apellido" tabindex="2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<select name="tipodocumento" class="form-control" id="tipodocumento" tabindex="3">
										<option selected="selected">Seleccionar Tipo Documento</option>
										{% for tipodocumento in documento %}
										<option value="{{tipodocumento.0}}">{{tipodocumento.1}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<input type="text" name="numerodocumento" id="numerodocumento" class="form-control " placeholder="Numero Documento" tabindex="4">
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" name="direccionCliente" id="direccionCliente" class="form-control " placeholder="Dirección" tabindex="5">
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="celular" id="celular" class="form-control " placeholder="Celular" tabindex="6">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="emailCliente" id="emailCliente" class="form-control " placeholder="E-mail" tabindex="7">
								</div>
							</div>
						</div>
						<legend>Usuario Del Sistema</legend>
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<input type="text" name="usuario" id="usuario" class="form-control" placeholder="Usuario" tabindex="8">
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<input type="password" name="password" id="password" class="form-control " placeholder="Contraseña" tabindex="9">
								</div>
							</div>
						</div>
						<legend>Datos Entidades</legend>
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<input type="text" name="nombreEmpresa" id="nombreEmpresa" class="form-control" placeholder="Nombre Empresa" tabindex="10">
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<select name="tipoEntidad" class="form-control" id="tipoEntidad" tabindex="11">
										<option selected="selected">Seleccionar Tipo Entidad</option>
										{% for tipoentidad in entidad %}
										<option value="{{tipoentidad.0}}">{{tipoentidad.1}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" name="direccionEmpresa" id="direccionEmpresa" class="form-control " placeholder="Dirección" tabindex="12">
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="telefonoEmpresa" id="telefonoEmpresa" class="form-control " placeholder="Telefono" tabindex="13">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="emailEmpresa" id="emailEmpresa" class="form-control " placeholder="E-mail" tabindex="14">
								</div>
							</div>
						</div>
						<legend>Solicitud</legend>
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<select name="servicio" class="form-control" id="servicio" tabindex="15">
										<option selected="selected">Seleccionar Servicio</option>
										{% for servicio in servicio %}
										<option value="{{servicio.0}}">{{servicio.2}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-6">
								<div class="form-group">
									<input type="date" name="fechaSolicitud" id="fechaSolicitud" class="form-control" placeholder="MM/DD/YYYY" tabindex="16">
								</div>
							</div>
						</div>
						<div class="form-group">
							<textarea name="descripcion" rows="4" id="descripcion" class="form-control " placeholder="Descripción" tabindex="17" ></textarea>
						</div>
						<button type="submit" class="btn btn-success pull-right">Registrarse</button>
						<hr style="margin-top:60px;margin-bottom:5px;" >
					</form>
				</div>
			</div>
		</div>
	</div>
</div>